.title {
    font-family: StarWarsFont02;
    font-size: 40px;
}

.image {
    animation-name: imageAnimate;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    transform: scaleX(-1);
    width: 60%;
    margin-left: 550px;
    margin-top: 40px;
    z-index: -99;
    position: absolute;
}


@keyframes imageAnimate {
    0% {
        scale: 1.1;
    }

    50% {
        scale: 1.06;
    }

    100% {
        scale: 1.1;
    }
}

.buttonPage {
    border: none;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 4px;
    background-color: rgb(223, 148, 18);
}

.buttonPage:disabled{
    opacity: 0.3;
}
.buttonPage:disabled:hover{
    opacity: 0.3;
    scale: 1;

}
.buttonPage:hover{
    scale: 1.07;
    transition: 0.3s;
}

.page {
    border: none;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: rgb(190, 189, 186);
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 4px;
    color: black;

}