.title {
    font-family: StarWarsFont02;
    font-size: 40px;
}

.image {
    animation-name: imageAnimate;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    transform: scaleX(-1);
    width: 60%;
    margin-left: 550px;
    margin-top: 40px;
    z-index: -99;
    position: absolute;
}


@keyframes imageAnimate {
    0% {
        scale: 1.1;
    }
    50% {
        scale: 1.06;
    }
    100% {
        scale: 1.1;
    }
}